body {
  background-color: #161621;
  margin: 0px;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0px;
  font-weight: normal;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  margin-top: 0;
  margin-left: 0;
}
.tituloPag {
  margin-top: 3vh;
  margin-left: 6vw;
  margin-bottom: 3vh;
}
.nomedoTime {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2rem;
  margin-left: 0rem;
}

.envoltoJogPar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.envoltoPartidas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.texto-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}
.messageBox {
  padding: 3rem 1.25rem;
  gap: 1rem;
  height: 5rem;
  margin-top: 0.4rem;
  border-radius: 5px;
  align-items: flex-start;
  width: 80vw;
  background-color: #09090e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vh;
}

.formcrietime {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.botaoCrieTime {
  position: absolute;
  bottom: 5rem;
  font-size: 1.25rem;

  width: 18.75rem;
  height: 3rem;
  border-radius: 0.313rem;
  color: white;
  background-color: #19ae47;
  border: none;
}

@media (min-width: 600px) {
  .tituloPag {
    display: flex;
    justify-content: center;
    margin-left: 0vw;
    margin-right: 40vw;
  }
}
@media (min-width: 1100px) {
  .tituloPag {
    margin-right: 20vw;
  }
}
