.login-container {
  background-color: #161621;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-header {
  color: white;
}
.box-login {
  background-color: #09090e;
  width: fit-content;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 10px;
  margin: 3rem;
}
.box-login h3 {
  color: white;
}
.input-certo {
  width: 100%;
  font-size: 1rem;
  border: 1px solid white;
  padding: 10px;
  background-color: #09090e;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  display: none;
}
.btn-checkbox-personalizado {
  display: inline-block;
  position: relative;
  padding-left: 25px; /* espaço para o novo checkbox personalizado */
  cursor: pointer;
  color: white;
}
.btn-checkbox-personalizado::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: 2px solid #ccc; /* cor da borda */
  background-color: #161621; /* cor de fundo */
  position: absolute;
  left: 0;
  top: 1px;
}
input[type="checkbox"]:checked + .btn-checkbox-personalizado::before {
  background-color: #0000ff;
}
.btn-checkbox-personalizado::after {
  content: "\2713";
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 2px;
  left: 5px;
  visibility: hidden;
}
input[type="checkbox"]:checked + .btn-checkbox-personalizado:after {
  visibility: visible;
}
.btn-login {
  margin: 10px;
  font-size: 1.25rem;
  width: fit-content;
  padding: 10px;
  border-radius: 0.313rem;
  color: white;
  background-color: #19ae47;
  border: none;
}
.btn-login:hover {
  background-color: #115a28;
  cursor: pointer;
}
.input-error {
  width: 100%;
  font-size: 1rem;
  border: 1px solid red;
  padding: 10px;
  background-color: #161621;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  margin-bottom: 30px;
}

.pergunta-login {
  color: white;
}
.entrar-cadastro-login {
  color: #246fd1;
}
.entrar-cadastro-login:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
