.buttonconvite {
  border: none;
  height: 5vh;
  position: relative;
  background-color: #222232;
  color: #acacac;
}

.buttonconvite:hover {
  cursor: pointer;
}

.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
}

.container-convites {
  padding: 3rem;
  background-color: #09090e;
  border-radius: 5px;
  width: 300px; /* Ajuste o tamanho aqui */
  text-align: center; /* Centraliza o texto e os botões */
}

.tituloconvites {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

.convites-title {
  font-size: 1rem;
  color: #acacac;
  margin-bottom: 1rem;
}

.conteudo-convites {
  margin-bottom: 1.5rem;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-aceita {
  font-size: 1rem;
  padding: 10px;
  border-radius: 0.313rem;
  color: white;
  background-color: #19ae47;
  border: none;
}

.btn-aceita:hover {
  background-color: #115a28;
  cursor: pointer;
}

.btn-recusa {
  font-size: 1rem;
  padding: 10px;
  border-radius: 0.313rem;
  color: white;
  background-color: #000;
  border: none;
}

.btn-recusa:hover {
  background-color: #202020;
  cursor: pointer;
}
