.buttonconvite {
  border: none;
  height: 5vh;
  position: relative;
  background-color: #222232;
  color: #acacac;
}
.buttonconvite:hover {
  cursor: pointer;
}

.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  position: relative;
}
.container-convites {
  border: 5px solid #000000;
  padding: 200px 144px;
}

.testetetete {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

/* .modal button[type="submit"] {
  display: block;
  background: #006739;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  color: #f8f8f8;
  margin-top: 1rem;
  font-weight: 600;
  width: 100%;
} */

.container-convites {
  padding: 3rem 0rem;

  margin-top: 1rem;
  margin-left: 1.5rem;
  border-radius: 5px;
  align-items: center;
  width: 18.75rem;
  background-color: #09090e;
  display: flex;
  justify-content: center;
  position: relative;
}
.container-convites h2 {
  font-size: 1rem;
}

.tituloconvites {
  font-family: "Roboto Flex", sans-serif;
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 1.25rem !important;
  color: white !important;
  font-weight: 600 !important;
  margin-top: 0rem !important;
  margin-left: 0.938rem !important;
}
.conteudo-convites {
  margin-top: 20px;
}
.tudodo {
  display: flex;
}
.btn-aceita {
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 3rem;
  font-size: 1rem;
  width: fit-content;
  padding: 10px;
  border-radius: 0.313rem;
  color: white;
  background-color: #19ae47;
  border: none;
}

.btn-aceita:hover {
  background-color: #115a28;
  cursor: pointer;
}
.btn-recusa {
  font-size: 1rem;
  width: fit-content;
  padding: 10px;
  border-radius: 0.313rem;
  color: white;
  background-color: #000;
  border: none;
}

.btn-recusa:hover {
  background-color: #202020;
  cursor: pointer;
}
